.sharing-basket-image {
    background-image: url("../../images/eating_together_asia.jpg");
}

.leading {
    background-image: url("../../images/leading_mobile_asia.jpg");
}

@media only screen and (min-width: 768px) {
    .leading {
        background-image: url("../../images/leading_asia.jpg");
    }
}
